<p id="notice"><%= notice %></p>
<h1>Toutes les demandes de prêt</h1>
<% if @loans.count != 0 %>
<% @loans.order("id DESC").each do |loan| %>
<div class="col-xs-12">
  <div class="panel panel-default box-shadow">
    <div class="product">
      <div class='product-upvote'>
      </div>
      <div class="product-image hidden-xs">
      Date: <%= loan.created_at %>
      </div>
      <div class='product-body'>
        <h3><%= loan.lastname  %></h3>
        <h5><<%= loan.firstname %></h5>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><%= loan.initial_loan %> euros <%= loan.fix_amount %> <%= loan.refere %></li>
      </ul>
    </div>
  </div>
</div>
<% end %>
<% else %>
<div class="row">
  <div class="col-xs-12 text-left">
  <h5>Il n'y a pas de demande de prêt à traiter</h5>
  </div>
</div>
<% end %>
</div>
